---
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Notifika - Coming Soon</title>
	</head>
	<body class="bg-background text-text min-h-screen flex items-center justify-center">
		<div class="flex flex-col items-center justify-center gap-8 px-6 ">
			<!-- Logo -->
			<div class="mb-8">
				<img src="/images/Notifika-landing.png" alt="Notifika" width="300" height="300" style="object-fit: contain;" />
			</div>

			<!-- Main Title -->
			<h1 class="text-5xl md:text-6xl font-bold text-accent text-center tracking-wider">
				COMING SOON
			</h1>

			<!-- Subtitle (Optional) -->
			<p class="text-center text-icons mt-12 max-w-md">
				Estamos preparando algo especial para ti.
			</p>
			<p class="text-center text-icons max-w-md">
				 ¡Vuelve pronto!
			</p>
		</div>
	</body>
</html>
